.right-logo{
    margin-top: 100px;
}
.foto {
    width: 100px;
    margin-right: 37px;
    border: 2px solid transparent;
    border-radius: 70px;
    background: linear-gradient(to right, orange, yellow);
}

.story{
    background-color: beige;
    
}
body{
    background-color: brown;
}
